
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color:whitesmoke;
  
}
  
header {
  background-color: rgb(213, 213, 230);
  color: white;
    font-weight: bold;
}
h1
{
color: rgb(13, 15, 15);
}
h2
{
color: rgb(7, 7, 6);
}
h3
{
  color: rgb(17, 17, 16);
}
h4
{
  font-family: Georgia;
  color: burlywood;
}
.container{
  width:40cm;
  height: 8cm;
  background-color: rgb(228, 223, 225);
  display: flex;
  align-items: center;
  justify-content: left;
}
.swiper{
  width: 25cm;
  height: 5cm;
  align-items: center;
  }
  .swiper-slide img{
    width: 25cm;
    height: 5cm;
    align-items: center;
  }
a{
  color: rgb(7, 6, 7);
}
a:visited{
  color: rgb(73, 4, 47);
}
a:hover, a:active,a:focus{
  color: rgb(18, 174, 185);
}
form{
  width: 40cm;
  height: 50cm;
  background-image: url("C:\Users\PC\Downloads\favicon1.jpg");
		background-repeat: no-repeat;
		background-size: cover;
  font-weight: 200;
  font-size: large;
  text-align: center;
}